.hero_section {
    background-color: var(--third-color);
    padding: 70px 170px;
}


.hero_section_content_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.hero_section_content {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.hero_section_img {
    display: flex;
    justify-content: flex-end;
}

.hero_section_img img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid var(--primary-color);
}



/* Media Query */


@media screen and (max-width: 972px) {
    .hero_section_content_box {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: row-reverse;
        gap: 1.5rem;
    }

    .hero_section_img {
        justify-content: center;
        order: 1;
    }

    .hero_section_content {
        align-items: center;
        order: 2;
    }

    .hero_section {
        padding: 70px 10px;
    }
}